<!--<h1 mat-dialog-title>Favorite Animal</h1>-->
<!--<div mat-dialog-content>-->
<!--My favorite animal is:-->
<!--&lt;!&ndash;<ul>&ndash;&gt;-->
<!--&lt;!&ndash;<li>&ndash;&gt;-->
<!--&lt;!&ndash;<span *ngIf="data.animal === 'panda'">&#10003;</span> Panda&ndash;&gt;-->
<!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--&lt;!&ndash;<li>&ndash;&gt;-->
<!--&lt;!&ndash;<span *ngIf="data.animal === 'unicorn'">&#10003;</span> Unicorn&ndash;&gt;-->
<!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--&lt;!&ndash;<li>&ndash;&gt;-->
<!--&lt;!&ndash;<span *ngIf="data.animal === 'lion'">&#10003;</span> Lion&ndash;&gt;-->
<!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--&lt;!&ndash;</ul>&ndash;&gt;-->
<!--</div>-->

<!--<div [ngStyle]="data.design">-->
<!--{{data.text}}-->
<!--</div>-->

<!--<div>-->
<!--<input type="text" [ngStyle]="data.design" />-->
<!--</div>-->

<!--<input matInput placeholder="Favorite food" value="Sushi">-->

<form class="example-form">
  <div class="example-handle" mat-dialog-title mat-dialog-draggable-title>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
      </path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>
  <mat-form-field class="example-full-width" MatFormFieldControl="widthSelector">
    <input matInput placeholder="Width" name="widthSelector" [(ngModel)]="widthSelector">
  </mat-form-field>
  <mat-form-field class="example-full-width" MatFormFieldControl="backgroundColorSelector">
    <input matInput placeholder="Background color" value="Color" [style.background]="backgroundColorSelector"
      [(colorPicker)]="backgroundColorSelector" />
  </mat-form-field>
  <mat-form-field class="example-full-width" MatFormFieldControl="heightSelector">
    <input matInput placeholder="Height" name="heightSelector" [(ngModel)]="heightSelector">
  </mat-form-field>
  <br />
  <mat-form-field class="example-full-width" MatFormFieldControl="textSelector">
    <input matInput placeholder="Text" name="textSelector" [(ngModel)]="textSelector">
  </mat-form-field>
  <mat-form-field class="example-full-width" MatFormFieldControl="fontSizeSelector">
    <input matInput placeholder="FontSize" name="fontSizeSelector" [(ngModel)]="fontSizeSelector">
  </mat-form-field>
  <mat-form-field class="example-full-width" MatFormFieldControl="colorSelector">
    <input matInput placeholder="Background color" value="Color" [style.background]="colorSelector"
      [(colorPicker)]="colorSelector" />
  </mat-form-field>
  <br />
  <mat-form-field class="example-full-width" MatFormFieldControl="marginLeftSelector">
    <input matInput placeholder="MarginLeft" name="marginLeftSelector" [(ngModel)]="marginLeftSelector">
  </mat-form-field>
  <mat-form-field class="example-full-width" MatFormFieldControl="marginRightSelector">
    <input matInput placeholder="MarginRight" name="marginRightSelector" [(ngModel)]="marginRightSelector">
  </mat-form-field>
  <br />
  <mat-form-field class="example-full-width" MatFormFieldControl="backgroundImageSelector">
    <input matInput placeholder="BackgroundImage URL" name="backgroundImageSelector"
      [(ngModel)]="backgroundImageSelector">
  </mat-form-field>
  <!--<mat-form-field class="example-full-width">-->
  <button mat-button type="button" name="Done" (click)="saveChanges()">Done</button>
  <!--</mat-form-field>-->
</form>
